/* Estilos básicos del navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
  }
  
  .navbar-brand {
    text-decoration: none;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
  }
  
  .navbar-nav {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .nav-item {
    text-decoration: none;
  }
  
  .nav-link {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
  }
  
  /* Estilo activo para NavLink */
  .nav-link.active {
    font-weight: bold;
    color: #ff5722;
  }
  